<html>
    <head>
        {% if title %}
        <title>{{ title }} - Course helper</title>
        {% else %}
        <title>Course helper</title>
        {% endif %}
    </head>
    <body>
        <div>
            UBC-Course registeration helper:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('update') }}">Update</a>
            <a href="{{ url_for('gym') }}">Gym</a>
            <a href="{{ url_for('scraper') }}">Scraper</a>
            <a href="{{ url_for('help') }}">Help</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>