{% extends "base.html" %}

{% block content %}
    <h1>HELLO! Please read the following first!</h1>
    <div>
    <p>If you want to use the FaceBook feature you can first: <br>
    Add this <a href="https://www.facebook.com/coarse.reg.7">bot </a>on facebook, <br>
    Have your own UID handy by using 
    <a href="https://findmyfbid.in/#:~:text=Find%20your%20facebook%20ID%20in%20two%20easy%20steps/&text=Your%20Facebook%20personal%20profile%20URL,profile.php%3Fid%3D100001533612613">this </a> </p>
    <p><b>If you don't want the FB feature start</b> <br>
    <b>From here you need to have three things ready:</b></p>
    <ol><li>The course number (eg. CPSC 210)</li>
    <li> Have the URL of the <span style="color: red;"> section</span> you want to register</li>
    <li> Have the number of people currently register (eg. 250)</li>
    </ol> 
    </body>
    </div> 
{% endblock %}