{% extends "base.html" %}

{% block content %}
    <h1>Update</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.class_name.label }}<br>
            {{ form.class_name(size=32) }}<br>
            {% for error in form.class_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=64) }}<br>
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.seats.label }}<br>
            {{ form.seats(size=32) }}<br>
            {% for error in form.seats.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}